/*hero*/

.SectionHero {
    background-image: url(../images/chalkboard1.jpg);
    text-align: center;
    border: 10px solid rgb(130, 82, 1);
    background-size: cover;
}

.doubleboarder1 {
    border: 5px solid rgb(130, 82, 1);
}

.Greeting {
    color: white;
    font-family: 'Fredericka the Great', cursive;
}

a:link {
    text-decoration: none;
    font-size: 2.9rem;
    color: white;
    font-family: 'Fredericka the Great', cursive;
}

.inner a:link:hover {
    color: #6fe7db;
    text-shadow: 2px 2px 8px #6fe7db;
    font-size: 3.5rem;
}

.row {
    margin-bottom: 5rem;
    font-weight: bold;
}

.botline {
    border-bottom: 2px solid #6fe7db;
}


/*this code make nav and face avatar in one line*/

.inner {
    padding: 7rem 0;
}


/* about me */

.SectionAbout {
    text-align: center;
    padding-top: 5rem;
    /*border: 10px solid rgb(192,192,192);*/
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
    background-color: #FFFFFF;
}

.doubleboarder2 {
    border: 5px solid rgb(192, 192, 192);
}

.AboutMe {
    display: inline-block;
    color: #000;
}


/* Blog*/

.SectionBlog {
    background-image: url(../images/chalkboard1.jpg);
    text-align: center;
    border: 10px solid rgb(130, 82, 1);
    font-family: 'Fredericka the Great', cursive;
    padding-top: 5rem;
    background-size: cover;
}

.inner2 a:link:hover {
    color: #ed7777;
    text-shadow: 2px 2px 8px #ed7777;
    font-size: 3.5rem;
}

.textblog a:link {
    color: #f6f4f1;
}

.BlogTitle {
    font-size: 4rem;
    color: #fad48b;
}

.topline {
    border-bottom: 2px solid #6fe7db;
}


/*contact form*/

.SectionContact {
    text-align: center;
    /*border: 10px solid rgb(192,192,192);*/
    /*background-color: #FFFFFF;*/
    padding-top: 5rem;
    background-image: url(../images/postcard.jpg);
    background-size: cover;
}

.label-body {
    color: black;
}


/*footer*/

footer {
    text-align: center;
    padding-top: 3rem;
    background-image: url(../images/chalkboard1.jpg);
    border: 1px solid rgb(130, 82, 1);
}

span {
    color: white;
}

footer a:link:hover {
    opacity: 0.5;
}


/*------------------------------------------------------------*/


/*bolg html*/

.thanksfooter {
    color: pink;
    font-family: 'Fredericka the Great', cursive;
    background-size: cover;
}
